__pycache__/
*.pyc
*.$py.class

venv/
.venv/
env/
.env/
**/.env

build/
dist/
*.egg-info/
.nox/
.tox/

.coverage
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.log
*.swo # Файли підкачки Vim

.idea/*         # PyCharm
.vscode/       # VS Code
*.sublime-project # Sublime Text
*.sublime-workspace # Sublime Text
*.komodoproject # Komodo IDE

*.sqlite3
db.sqlite3

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

HW-2/analyze-ads/.env
/HW-2/analyze-ads/src/analyze_ads/scripts/old/
/HW-2/analyze-ads/src/analyze_ads/queries/old/
/HW-2/analyze-ads/correlation_results.json
**/query.sql
HW-8/kafka-producer/data/


.idea/
